* {
    margin: 0;
    padding: 0;
}

:root {
    --screen-background: #00AEB5;
    --panel-background: #FFF4E0;
    --input-background: #E9DEC0;
    --color-buttons: #FCB603;
    --color-text-buttons: white;
}

@import url('https://fonts.googleapis.com/css2? family= Kanit:wght@900 & display=swap');

html, body {
    height: 100%;
    background-color: var(--screen-background);
}

body {
    align-items: center;
}

img {
    /* width: 100%; */
    height: 200px;
    cursor: pointer;
}

span {
    cursor: pointer;
}

#container-stretch {
    height: 80%;
    width: 100%;
    justify-content: space-evenly;
}

#large {
    width: 30%;
    /* height: 70%; */
}

#container-result {
    flex: 1;
}

.container-flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.container-flex {
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

#container-flex {
    text-align: center;
}

.card {
    /* height: 90vh; */
    width: 70vh;
    /* padding: 20px; */
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: space-evenly; */
    /* align-items: center; */
    border-radius: 10px;
    background-color: var(--panel-background);
    justify-content: space-between;
    padding: 20px;
}

input, select {
    background-color: var(--input-background);
    text-align: center;
    border: none;
    border-radius: 10px;
    font-size: 14pt;
    padding: 10px 0;
    margin: 1px 0;
}

#countainer-table {
    margin: 20px;
    width: 500px;
}

table {
    text-align: center;
    width: 100%;
    /* margin: 30px; */
    /* padding: 30px; */
    border-collapse: collapse;
}


tbody td {
    border-top: 2px solid var(--input-background);
}

tbody th {
    cursor: pointer;
    height: 100px;
    width: 100px;
    /* border: 3px solid black; */
    font-size: 60px;
    font-family: cursive;
}


.button {
    /* width: 90%; */
    /* height: 39px; */
    border-radius: 10px;
    border: none;
    background-color: var(--color-buttons);
    color: var(--color-text-buttons);
    font-size: 14pt;
    padding: 10px;
    margin: 10px 0;
}

.button:hover {
    cursor: pointer;
    opacity: 0.6;
}

.text-title {
    font-family: 'Kanit', sans-serif;
    font-size: 25pt;
    /* width: 100%; */
    text-align: center;
    /* border-bottom: 2px var(--input-background) solid; */
    padding-bottom: 5px;
}

.text {
    font-size: 14pt;
}

label {
    font-size: 16pt;
    padding: 10px;
    font-weight: bold;
}

.result {
    font-size: 16pt;
    background-color: var(--screen-background);
    color: var(--color-text-buttons);
    border-radius: 10px;
    text-align: center;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 10px;
}

.border-line {
    border-top: 2px solid var(--screen-background);
    border-bottom: 2px solid var(--screen-background);
}

.border-column {
    border-left: 2px solid var(--screen-background);
    border-right: 2px solid var(--screen-background);
}