@import url('https://fonts.googleapis.com/css2? family= Roboto & display=swap'); /* Não entendi muito bem a proposta do @, eu entendi que tem haaver com meta comandos do CSS */

@font-face {
    font-family: pay;
    src: url(PaytoneOne-Regular.ttf);
}

p, li { /* Está ficando um espaço vertical dos paragrafos, é porque o elemento p não consegue obter elementos filhos do qual eu estava especificando */
    color: rgb(51, 51, 51);
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    font-size: 12px;
}

.titulos {
    color: black;
    font-size: 16px;
    font-family: pay;
}

h1, table {
    text-align: center;
}

ol, li { /* Os números sumiram, eu descobri que é porque o dislay que indica os números é o display: list-itens */
    padding: 0;
    display:  inline-block; /* Nao está funcionando dentro de elementos descendentes, resposta: eu descobri que o elemento p recebe determinados atributos, por isto esta influênciando no meu CSS */
}

li::after {
    content: ",";
}

#ultima::after {
    content: ".";
}

#chave {
    display: inline-block;
}

/* Tabelas */

table, th, td {
    border: 1px solid black;
    border-collapse: collapse; /* Tira os espaços das bordas das células */
    font-family: Arial, Helvetica, sans-serif;
}

th, td {
    padding: 5px 10px;
}

th {
    background-color: rgb(21, 4, 98);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

table tr:nth-child(odd){ /* add aplica nos elementos de linha na tabela de números ímpar */
    background-color: #ddd;    
}

table tr:nth-child(even){ /* even aplicado a todos elementos pares */
    background: white;
}