/* -- Reset geral -- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* -- Importação das Fontes -- */

@font-face {
    font-family: 'Pacifico';
    src: url('fonts/Pacifico.ttf');
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'Playfair Display';
    src: url('fonts/PlayfairDisplay-Regular.ttf');
}

/* --Fontes-- */

/* Fonte padrão da página */

body {
    font-family: 'Poppins', sans-serif;
    /* width: 100vw; */
    /* position: absolute; */
}

/* Estilização geral para fontes */

.text-title {
    font-size: 14px;
    color: #d77474;
}

.different-font {
    font-family: 'Playfair Display';
    font-size: 68px;
    color: #ac1313;
    margin: 5px;
    font-weight: 400;
}

.caption {
    font-size: 40px;
}

/* Fontes para textos grandes com títulos */

.text-categories h4 {
    font-size: 30px;
    font-weight: 400;
}

.text-categories p {
    font-size: 14px;
    color: #6c6c6c;
    padding: 20px 0;
}

/* Configurações de texto com título  */

.text-title-container {
    text-align: center;
}

/* --Estilizações gerais da main-- */

main {
    position: relative;
    top: 90px;
}

.container {
    padding: 0 100px;
    display: flex;
    /* width: 100%; */
    /* align-items: center; */
}

/* --Estilização dos Botões-- */

.button {
    font-size: 12px;
    display: inline-block;
}

.button a {
    background-color: #ac1313;
    padding: 20px 40px;
    display: inline-block;
    color: white;
    text-decoration: none;
    position: relative;
    top:0;
    transition: top 0.4s, background-color 0.4s;
}

.button a:hover {
    position: relative;
    top: -15px;
    background-color: black;
}

/* --Botão fixo da página-- */

#container-webflow {
    height: 32px;
    width: 150px;
    font-size: 14px;
    font-weight: bold;
    position: fixed;
    display: inline-block;
    right: 20px;
    bottom: 20px;
    background-color: white;
    border-radius: 6px;
    padding: 1px;
    z-index: 10;
    text-align: center;
}

#webflow {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#container-webflow a {
    color: black;
    text-decoration: none;
}

#webflow img{
    height: 16px;
}

/* --Estilização do cabeçalho-- */

/* Logo */

.logo {
    /* display: inline-block; */
    font-family: 'Pacifico';
    font-size: 34px;
    display: inline-block;
}

.logo a {
    text-decoration: none;
    display: inline-block;
    margin: 15px;
    color: black;
}

/* Navegação */

header {
    display: flex;
    background-color: white;
    height: 90px;
    width: 100%;
    align-items: center;
    padding: 0 100px;
    justify-content: space-between;
    position: fixed;
    z-index: 10;
}

.menu {
    display: flex;
    align-items: center;
    font-size: 12px;
    /* font-family: 'Poppins', sans-serif; */ /* Não consegui aplicar a fonte direito */
    font-weight: bold;
}

.menu a {
    padding: 20px;
    text-decoration: none;
    color: #6c6c6c;
}

.menu a:hover {
    color: black;
}

.container-cart {
    display: flex;
    padding-left: 20px;
    border-left: 1px solid #6c6c6c;
    align-items: center;
    font-size: 12px;
}

#image-cart {
    width: 20px;
}

/* --Estilização do Hero-- */

/* Corpo da Hero */
.hero {
    height: 100vh;
    width: 100%;
    background-image: url('https://assets.website-files.com/5ba96977bf120e1b45986c06/5bc26c68ca643a35ff2e403f_scott-webb-268893-unsplash.jpg');
    background-size: cover;
    position: relative;
    /* z-index: -1; */
}

#container-hero {
    height: 406px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

/* Texto da Hero */

#text-hero {
    width: 50%;
    padding-bottom: 50px;
}

#text-hero h1 {
    font-size: 48px;
}

#fist-text {
    display: inline;
}

/* Imagem da Hero */

#background-image-hero-pitcher{
    height: 500px;
    position: absolute;
    top: 10px;
    right: 0;
    /* z-index: -2; */
}

/* --Categoria de produtos - Parte - 01-- */

#categories {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 945px;
}

/* #categories::after {
    border-bottom: 40px solid #6c6c6c;
} */

/* Círculos */

#cicles {
    width: 100%;
    display: flex;
    justify-content: space-around;
    /* border-radius: 50%; */
}

/* Círculo do vaso */

/* Círculo externo */
#cicle-vases {
    height: 240px;
    width: 240px;
    background-color: #D8AA61;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Círculo interno */
#cicle-vases-center {
    height: 180px;
    width: 180px;
    background-color: #E4B366;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Imagem do círculo interno */
#cicle-vases-center img {
    height: 70px;
    z-index: 1;
}

/* Texto do círculo interno */
#cicle-vases-center p {
    color: white;
}

/* Círculo do Mugs */

/* Círculo externo */
#cicle-mugs {
    height: 240px;
    width: 240px;
    background-color: #E4560F;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Círculo interno */
#cicle-mugs-center {
    height: 180px;
    width: 180px;
    background-color: #F05B10;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Imagem do círculo interno */
#cicle-mugs-center img {
    height: 70px;
    z-index: 1;
}

/* Texto do círculo interno */
#cicle-mugs-center p {
    color: white;
}

/* Círculo do Plates */

/* Círculo externo */
#cicle-plates {
    height: 240px;
    width: 240px;
    background-color: #9A0F0F;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Círculo interno */
#cicle-plates-center {
    height: 180px;
    width: 180px;
    background-color: #A21010;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Imagem do círculo interno */
#cicle-plates-center img {
    height: 70px;
    z-index: 1;
}

/* Texto do círculo interno */
#cicle-plates-center p {
    color: white;
}

/* Textos */

#text-categories-1 {
    display: flex;
    justify-content: space-around;
}

#text-left-categories {
    width: 45%;
}

#text-right-categories {
    width: 45%;
}

/* --Categoria de produtos - Parte - 02-- */

/* Configurações do container */

#categories-container-2 {
    width: 100%;
    padding: 120px 0;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
}

#categories-2 {
    flex-direction: column;
    align-items: center;
}

.vase-contents {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

/* Estilização dos links */

.vase-contents a {
    color: black;
    text-decoration: none;
}

.vase-contents a:hover {
    text-decoration: underline;
}

/* Estilização das imagens */

.vase-img {
    width: 50%;
    text-align: center;
    /* background-color: #F5F5F5; */
    position: relative;
}

.background-position {
    height: 50%;
    width: 100%;
    background-color: #F5F5F5;
    position: absolute;
    top: 25%;
    z-index: -1;
}

#vase-gold {
    height: 509px;
    /* display: inline-block; */
}

#vase-orange {
    height: 416px;
}

/* Estilização dos textos */

.vase-contents .text-categories {
    width: 50%;
    padding: 50px 80px;
    /* vertical-align: middle; */
    /* margin: auto; */
}

/* --Estilização do Store-- */

/* Contanainer */

#store {
    flex-direction: column;
    align-items: center;
    padding: 120px 0px;
}

/* Lista de itens */

#items {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 60px 0;
}

/* Estilização de cada item */

.item-store {
    width: 30%;
    margin: 10px 10px;
    border-bottom: 1px solid #6c6c6c;
}

.item-store:hover {
    border-color: #ac1313;
}


/* Imagem */

.item-store figure {
    overflow: hidden;
    /* position: relative; */
}

.item-store img {
    display: block;
    width: 100%;
    scale: 1;
    transition: scale 0.4s;
}

.item-store:hover img {
    scale: 1.1;
}


/* Link */

.item-store a {
    text-decoration: none;
    font-size: 16px;
    color: #6c6c6c;
}

.item-store a:hover {
    color: #ac1313;
}

/* Descrição dos itens */

.item-description {
    padding: 15px;
}

.item-description p {
    font-weight: bold;
}

/* --Estilização do CTA-- */

/* Container */

#cta {
    background-image: url('https://assets.website-files.com/5ba96977bf120e1b45986c06/5bb966fd82df351adbb449c6_raul-cacho-oses-779595-unsplash-p-3200.jpeg');
    background-size: cover;
    height: 470px;
    display: flex;
    align-items: center;
}

#cta-text-and-button {
    flex-direction: column;
    width: 50%;
    height: 100%;
    justify-content: center;
}

/* Título e subtítulo */

#cta .text-title-container {
    text-align: left;
}

/* Texto */

#text-cta {
    font-size: 16px;
    color: #6c6c6c;
    padding: 30px 0;
}

#text-cta a {
    color: #ac1313;
}

/* --Estilização da News Letter-- */

#news-letter {
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: space-evenly;
}

#image-plane {
    height: 80px;
    width: 80px;
    background-color: #EBB96A;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#image-plane img {
    width: 50%;
}

#form {
    text-align: center;
}

#container-form {
    height: 48px;
}

#email {
    height: 100%;
    width: 370px;
    padding-left: 40px;
    background-color: #FCFCFC;
    border-color: #ebebeb;
    background-image: url('https://assets.website-files.com/5ba96977bf120e1b45986c06/5bb565345d49a44eae2b3545_icons8-secured-letter-64.png');
    background-repeat: no-repeat;
    background-position: 9px 50%;
    background-size: 20px;
}

#button-news-letter {
    background-color: black;
    padding: 14px 45px;
    font-size: 14px;
    font-weight: bold;
}

#button-news-letter:hover {
    background-color: #ac1313;
    top: 0;
}

.check {
    margin: 50px 0;
    flex: 1;
}

.check label {
    font-size: 14px;
    color: #A1A1A1;
}

/* --Estilização dos Contatos-- */

.contacts {
    background-color: #dbdbdb1a;
    height: calc(100vh - 90px);
}

#contacts {
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#title-contacts {
    text-align: center;
}

#title-contacts p {
    color: #6c6c6c;
    font-size: 14px;
}

#icons {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.icons-contacts {
    text-align: center;
}

.icons-contacts img {
    height: 40px;
}

.type-contact{
    font-weight: bold;
}

.value-contact{
    font-size: 14px;
    color: #6c6c6c;
}

/* --Footer-- */

footer {
    height: 90px;
    width: 100%;
    background-color: #F9F9F9;
    border-top: 1px solid #ebebeb;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p {
    font-size: 14px;
    color: #6c6c6c;
}

footer a {
    text-decoration: none;
    color: black;
}

footer a:hover {
    color: #9A0F0F;
    text-decoration: underline;
}