/* Seletor universal */
* {
    font-family: Verdana;
    font-size: 12pt;
}

/* Seletor de TAG */
h1 {
    font-size: 18pt;
    color: orange;
}

/* Seletor de ID */
#outrosbolos {
    color: black;
    text-align: justify;
}

/* Seletor de classes */
.infoadd {
    color: black;
    background-color: darkgray;
    height: 40px;    
}

/* Seletor de descendentes */
section h2 {
    color: orange;
    text-align: center;
}

/* Seletor de filho direto */
article > p {
    text-align: justify;
}

form > p {
    font-weight: bold;
}

/* Seletor de atributos */
input[placeholder] {
    color: orange;
}

/* Pseudo classes */
/* A ordem das pseudo class influênciam no estado do elemento, a melhor ordem será: link, visited, hover, active */

a:hover {
    color: blue;
}

a:active {
    color: red;
}

section h2::after {
    content: " <-";
}

section h2::before {
    content: "-> ";
}